{{!< default}}

{{#tag}}
    {{#if feature_image}}
        <section class="gh-cover gh-outer">
            <img
                class="gh-cover-image"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w,
                        {{img_url feature_image size="xl"}} 1200w,
                        {{img_url feature_image size="xxl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 800px"
                {{!--sizes="100vw"--}}
                src="{{img_url feature_image size="m"}}"
                alt="{{name}}"
            >

            <div class="gh-cover-content">
                <h1 class="gh-cover-title">{{name}}</h1>

                {{#if description}}
                    <p class="gh-cover-description">{{description}}</p>
                    <br></br>
                {{/if}}
            </div>
            
        </section>
    {{/if}}
{{/tag}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#tag}}
            {{#unless feature_image}}
                <section class="p-outer" style="padding-top: 2rem;">
                    <div class="p-inner p-hero">
                        <div class="p-hero-left">
                            <div>
                                <h1 class="gh-pagehead-title" style="margin-top: 0; margin-bottom: 2rem;">{{name}}</h1>

                                {{#if description}}
                                    <p style="color: #333; font-size: 1.6rem; line-height: 1.6; margin-bottom: 1rem;">{{description}}</p>
                                {{/if}}

                                <div class="p-hero-buttons" style="margin-block-start: 0; margin-bottom: 3rem;">
                                    <a href="https://leanpub.com/qc">Buy Ebook</a>
                                    <a href="https://www.amazon.com/dp/B0FGYF6DG6">Buy Paperback or Hardback</a>
                                </div>
                                
                                <p style="margin-bottom: 2rem; color: #333; font-size: 1.6rem; line-height: 1.6;">Want immediate access to its content? You can sign up for a premium subscription, which provides access to the book's original materials.</p>
                            </div>
                        </div>
                        
                        <div class="p-hero-right">
                            {{! Loads the your cover image as defined in Ghost admin }}
                            <a href="https://leanpub.com/qc" target="_blank" rel="noopener">
                               <img src="{{img_url @site.cover_image size="m"}}" alt="Quality Coach Book by Anne-Marie Charrett" />
                            </a>
                        </div>
                    </div>
                </section>
            {{/unless}}
        {{/tag}}

        {{#if @custom.enter_tag_slugs_for_secondary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_secondary_sections}}]"}}
                {{#if tags}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-minimal"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    </div>
</main>